html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  padding: 0;
  margin-top: 1.3em;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.color-picker-menu {
  display: flex;
  margin: 2em 0;
  justify-content: center;
  gap: 15px;
}

input[type="color" i] {
  background-color: #fff;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(58, 58, 58);
  cursor: pointer;
}

select {
  width: 12%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(58, 58, 58);
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#scheme-btn {
  background-color: #f8f9fa;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 5px;
  transition: transform 0.5s;
}

#scheme-btn:hover {
  transform: scale(0.95);
  cursor: pointer;
}

#scheme-color {
  height: 500px;
  display: flex;
}

.color-output {
  width: 30%;
  cursor: pointer;
}

#hex-text {
  display: flex;
  justify-content: space-around;
}
.hex-text-color {
  font-size: 1.1em;

  letter-spacing: 0.05em;
}

.copyClass {
  position: absolute;
  top: 55%;
  left: 44%;
  background-color: black;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 35px;
  display: none;
}
.copyClass.active {
  display: block;
}

.fa-solid {
  color: #fff;
  margin-left: 0.2em;
}

@media (max-width: 570px) {
  html,
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 0.8em;
  }

  .color-picker-menu {
    display: inline;
  }

  input[type="color" i] {
    width: 45px;
    height: 24px;
    vertical-align: top;
    margin-right: 0.5em;
  }

  select {
    margin-bottom: 1.8em;
    width: 25%;
    height: 27px;
    font-size: 0.9em;
  }

  #scheme-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 0.9em;
  }

  #scheme-color {
    height: 250px;
  }
}
